/*Import partials.*/

@font-face {
    font-family: 'Petaluma';
    src: url('/fonts/Petaluma.woff') format('woff'),
    url('/fonts/Petaluma.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Petaluma Script';
    src: url('/fonts/PetalumaScript.woff') format('woff'),
    url('/fonts/PetalumaScript.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Petaluma Text';
    src: url('/fonts/PetalumaText.woff') format('woff'),
    url('/fonts/PetalumaText.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseJazz';
    src: url('/fonts/MuseJazz.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('/fonts/SF-Pro-Display/sf-pro-display_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Display';
    src: url('/fonts/SF-Pro-Display/sf-pro-display_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Text';
    src: url('/fonts/SF-Pro-Text/sf-pro-text_regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF-Pro-Text';
    src: url('/fonts/SF-Pro-Text/sf-pro-text_bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

/*@font-face {*/
/*    font-family: 'SF-Pro';*/
/*    src: url('/fonts/SF-Pro/sf-pro-display_bold.woff2') format('woff2');*/
/*    font-weight: medium;*/
/*    font-style: normal;*/
/*}*/

iframe {
    display: block; /* 将iframe转换为块级元素 */
    margin-left: auto; /* 左边距自动 */
    margin-right: auto; /* 右边距自动 */
    width: 560px;
    height: 315px
}

.post-content figure > figcaption > p {
    color: var(--secondary);
    font-size: 15px;
    font-weight: normal;
}


.inline-links span:not(:last-of-type):after {
    content: "·";
    margin-inline-start: .5em;
    margin-inline-end: .5em;
}

.meta-item * {
    color: var(--secondary);
}

.meta-item:not(:last-of-type):after {
    content: "·";
    margin-inline-start: .5em;
    margin-inline-end: .5em;
}

body {
    font-family: SF-Pro-Display, -apple-system, BlinkMacSystemFont, Helvetica, 'Helvetica Neue', 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    font-size: 16px;
    line-height: 1.6em;
    word-break: break-word;
    background: var(--theme);
}


.post-tags li {
    display: inline-block;
    margin-inline-end: 3px;
    margin-bottom: 5px
}

.post-tags a, .share-buttons, .paginav {
    border-radius: var(--radius);
    background: var(--code-bg);
    border: 1px solid var(--border)
}

.post-tags a {
    display: block;
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    color: var(--secondary);
    font-size: 14px;
    line-height: 34px;
    background: var(--code-bg)
}

.post-tags a:hover, .paginav a:hover {
    background: var(--border)
}

.post-footer ul {
    padding: 0;
}

.paginav a {
    padding-inline-start: 14px;
    padding-inline-end: 14px;
    border-radius: var(--radius);
}


.toc {
    margin: 0 2px 40px;
    border: 1px solid var(--border);
    background: var(--code-bg);
    border-radius: var(--radius);
    padding: .4em 0
}

.toc.side {
    font-size: 15px
}

/*menu in the header*/
#menu a {
    font-size: 16px;
    font-weight: 500;
    color: var(--primary);
    display: inline-block;
    line-height: 1.5em;
}


.osmd path, rect, text {
    color: var(--content);
    fill: var(--content);
    stroke: var(--content)
}
